In [1]:
import pandas as pd

In [2]:
excel_file: str = "export.xlsx"
report_df = pd.read_excel(excel_file,)

In [35]:
report_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   First Name               3232 non-null   object
 1   Last Name                3232 non-null   object
 2   Username                 3232 non-null   object
 3   Organisation             3232 non-null   object
 4   Course Name              3232 non-null   object
 5   Completed Date           2379 non-null   object
 6   Due / Expiry Date        2300 non-null   object
 7   CSA Status               3232 non-null   object
 8   Certification ID number  3232 non-null   object
 9   User ID                  3232 non-null   int64
 10  Is current?              3232 non-null   int64
dtypes: int64(2), object(9)
memory usage: 277.9+ KB

In [3]:
report_df.head()

,First Name,Last Name,Username,Organisation,Course Name,Completed Date,Due / Expiry Date,CSA Status,Certification ID number,User ID,Is current?
0,Minhazul,Abedin,mdminhazulabedin@hotmail.com,Sinomax International Ltd Supported Living,Fire Safety,13/12/2023,13/12/2025,Completed,Fire Safety (24-month),227869,1
1,Minhazul,Abedin,mdminhazulabedin@hotmail.com,Sinomax International Ltd Supported Living,First Aid,23/12/2023,23/12/2025,Completed,First Aid (24-month),227869,1
2,Minhazul,Abedin,mdminhazulabedin@hotmail.com,Sinomax International Ltd Supported Living,Health and Safety,09/01/2024,09/01/2026,Completed,Health and Safety (24-month),227869,1
3,Minhazul,Abedin,mdminhazulabedin@hotmail.com,Sinomax International Ltd Supported Living,Infection Control,09/01/2024,09/01/2026,Completed,Infection Control (24-month),227869,1
4,Minhazul,Abedin,mdminhazulabedin@hotmail.com,Sinomax International Ltd Supported Living,Medication Practice,10/01/2024,10/01/2026,Completed,Medication Practice (24-month),227869,1

In [5]:
report_list[0].keys()

dict_keys(['First Name', 'Last Name', 'Username', 'Organisation', 'Course Name', 'Completed Date', 'Due / Expiry Date', 'CSA Status', 'Certification ID number', 'User ID', 'Is current?'])

In [6]:
# connect to my sql database

In [39]:
from mysql import connector

In [42]:
# MySQL database connection parameters
db_user = 'root'
db_password = 'Gazelle27#'
db_host = 'localhost'
db_name = 'careskills'

In [43]:
# Create a SQLAlchemy engine
connection = connector.connect(
    user=db_user,
    password=db_password,
    host=db_host,
    database=db_name,
    auth_plugin="mysql_native_password",
)

In [44]:
table_name = "skill_reports"

In [45]:
cols = []
for col in report_df.columns:
    #     remove charcters that arent alphabets
    alpha_col = re.sub(r'[^a-zA-Z\s]', '', col)
    new_col = alpha_col.lower().replace(" ", "_")
    cols.append(new_col)
    print(new_col)

first_name
last_name
username
organisation
course_name
completed_date
due__expiry_date
csa_status
certification_id_number
user_id
is_current

In [46]:
cols

['first_name',
 'last_name',
 'username',
 'organisation',
 'course_name',
 'completed_date',
 'due__expiry_date',
 'csa_status',
 'certification_id_number',
 'user_id',
 'is_current']

In [47]:
column_definitions = ', '.join([f'{col} TEXT' for col in cols])

In [48]:
column_definitions

'first_name TEXT, last_name TEXT, username TEXT, organisation TEXT, course_name TEXT, completed_date TEXT, due__expiry_date TEXT, csa_status TEXT, certification_id_number TEXT, user_id TEXT, is_current TEXT'

In [79]:
created_table_cmd = (
"CREATE TABLE {table_name}("
    "first_name VARCHAR(255),"
    "last_name VARCHAR(255),"
    "username VARCHAR(255),"
    "organisation TEXT,"
    "course_name TEXT,"
    "completed_date TEXT,"
    "due_expiry_date TEXT,"
    "csa_status TEXT,"
    "certification_id_number TEXT,"
    "user_id INTEGER,"
    "is_current INTEGER"
    ");"
).format(table_name=table_name)
drop_table_cmd = f'''
DROP TABLE IF EXISTS {table_name};
'''
print(created_table_cmd)

CREATE TABLE skill_reports(first_name VARCHAR(255),last_name VARCHAR(255),username VARCHAR(255),organisation TEXT,course_name TEXT,completed_date TEXT,due_expiry_date TEXT,csa_status TEXT,certification_id_number TEXT,user_id INTEGER,is_current INTEGER);

In [54]:
cursor = connection.cursor()

In [78]:
cursor.execute(drop_table_cmd)

In [80]:
cursor.execute(created_table_cmd)

In [93]:
report_df.isnull().any()

First Name                 False
Last Name                  False
Username                   False
Organisation               False
Course Name                False
Completed Date              True
Due / Expiry Date           True
CSA Status                 False
Certification ID number    False
User ID                    False
Is current?                False
dtype: bool

In [95]:
report_df.columns[report_df.isnull().any()]

Index(['Completed Date', 'Due / Expiry Date'], dtype='object')

In [99]:
report_df[report_df["Completed Date"].isna()].head(1)

,First Name,Last Name,Username,Organisation,Course Name,Completed Date,Due / Expiry Date,CSA Status,Certification ID number,User ID,Is current?
60,Edith,Aduhene,akosuakt@gmail.com,Sinomax International Ltd Supported Living,Fire Safety,NaN,NaN,In Progress,Fire Safety (12-month),213697,1

In [101]:
report_df_cp = report_df.replace({pd.NA: None})

In [102]:
report_df_cp[report_df_cp["Completed Date"].isna()].head(1)

,First Name,Last Name,Username,Organisation,Course Name,Completed Date,Due / Expiry Date,CSA Status,Certification ID number,User ID,Is current?
60,Edith,Aduhene,akosuakt@gmail.com,Sinomax International Ltd Supported Living,Fire Safety,None,None,In Progress,Fire Safety (12-month),213697,1

In [110]:
report_df_cp.shape

(3232, 11)

In [103]:
insert_data_cmd = f'''
INSERT INTO {table_name} (first_name, last_name, username, organisation, course_name, completed_date, due_expiry_date, csa_status, certification_id_number, user_id, is_current) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''
print(insert_data_cmd)

INSERT INTO skill_reports (first_name, last_name, username, organisation, course_name, completed_date, due_expiry_date, csa_status, certification_id_number, user_id, is_current) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [104]:
import time

In [111]:

# for index, row in report_df_cp.iterrows():
#     if index%2 == 0:
#         time.sleep(2)
    
#     row_dict = row.to_dict()
#     row_values = [];
#     for col in report_df.columns:
#         row_values.append(row_dict[col])
    
#     cursor.execute(insert_data_cmd, tuple(row_values))
#     print(index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435

KeyboardInterrupt:

In [74]:
len(report_df.columns)

11

In [84]:
select_cmd = f'''
SELECT * FROM {table_name};
'''

In [1]:
cursor.execute(select_cmd)

# Fetch all the values
column_values = cursor.fetchall()
len(column_values)

NameError: name 'cursor' is not defined

In [87]:
delete_data_cmd = f'''
DELETE FROM {table_name};
'''

In [108]:
cursor.execute(delete_data_cmd)